<app-toast [message]="toast.message"></app-toast>

<div class="card">
  <h4 class="card-header">Logowanie</h4>
  <div class="card-block">
    <form [formGroup]="loginForm" (ngSubmit)="login()" >
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input class="form-control" type="email" name="email" formControlName="email" placeholder="Adres email" autofocus>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input class="form-control" type="password" name="password" formControlName="password" placeholder="Hasło">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid"><i class="fa fa-sign-in"></i> Zaloguj</button>
    </form>
  </div>
</div>