<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Ilość dodanych pracowników ({{employees.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th>Ulica</th>
          <th>Miasto</th>
          <th>Kod pocztowy</th>
          <th>Data urodzenia</th>
          <th>Numer telefonu</th>
          <th>Akcja</th>
        </tr>
      </thead>
      <tbody *ngIf="employees.length === 0">
        <tr>
          <td colspan="8">Brak pracowników w bazie danych. Dodaj nowego.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let employee of employees">
          <td>{{employee.firstname}}</td>
          <td>{{employee.lastname}}</td>
          <td>{{employee.street}}</td>
          <td>{{employee.city}}</td>
          <td>{{employee.postcode}}</td>
          <td>{{employee.birthdate}}</td>
          <td>{{employee.telephone}}</td>
          <td> 
            <button class="btn btn-sm btn-warning" (click)="enableEditing(employee)"><i class="fa fa-pencil"></i> Edytuj</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="7">
            <form class="form-horizontal" #form="ngForm" (ngSubmit)="editEmployee(employee)" style="text-align:center">  
              <div class="form-group">
                <input class="form-control" type="text" name="firstname" [(ngModel)]="employee.firstname" placeholder="Imię" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="lastname" [(ngModel)]="employee.lastname" placeholder="Nazwisko" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="street" [(ngModel)]="employee.street" placeholder="Ulica" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="city" [(ngModel)]="employee.city" placeholder="Miasto" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="postcode" [(ngModel)]="employee.postcode" placeholder="Kod pocztowy" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="date" name="birthdate" [(ngModel)]="employee.birthdate" placeholder="Data Urodzenia" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="telephone" [(ngModel)]="employee.telephone" placeholder="Numer telefonu" required>
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Zapisz</button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Anuluj</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Dodaj nowego pracownika</h4>
  <div class="card-block">
    <form class="form-horizontal" [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee()" style="text-align:center">
      <div class="form-group">
        <input class="form-control" type="text" name="firstname" formControlName="firstname" placeholder="Imię">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="lastname" formControlName="lastname" placeholder="Nazwisko">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="street" formControlName="street" placeholder="Ulica">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="city" formControlName="city" placeholder="Miasto">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="postcode" formControlName="postcode" placeholder="Kod pocztowy">
      </div>
      <div class="form-group">
        <input class="form-control" type="date" name="birthdate" formControlName="birthdate" placeholder="Data urodzenia">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="telephone" formControlName="telephone" placeholder="Numer telefonu"></div>
      <button class="btn btn-primary" type="submit" [disabled]="!addEmployeeForm.valid"><i class="fa fa-floppy-o"></i> Dodaj</button>
    </form>
  </div>
</div>