<app-toast [message]="toast.message"></app-toast>

<div class="card">
  <h4 class="card-header">Rejestracja</h4>
  <div class="card-block">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="input-group" [ngClass]="setClassUsername()">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input class="form-control" type="text" name="username" formControlName="username" placeholder="Login" autofocus>
      </div>
      <div class="input-grup" [ngClass]="setClassEmail()">
        <span class="input-grup-addon"><i class="fa fa-envelope"></i></span>
        <input class="form-control" type="email" name="email" formControlName="email" placeholder="Adres email">
      </div>
      <div class="input-group" [ngClass]="setClassPassword()">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input class="form-control" type="password" name="password" formControlName="password" placeholder="Hasło">
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-black-tie"></i></span>
        <select class="form-control" name="role" formControlName="role">
          <option value="" selected disabled>Uprawnienia</option>
          <option value="user">Użytkownik</option>
          <option value="">Administrator</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid"><i class="fa fa-user-plus"> Zarejestruj</i></button>
    </form>
  </div>
</div>